body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#app_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#video {
    width: 100%;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    position: relative;
}

#play-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* videoと同じ幅 */
    height: 100%; /* videoと同じ高さ */
    cursor: pointer;
    z-index: 10;
    object-fit: cover; /* 画像の縦横比を維持しつつ、全体を埋める */
}

#lyrics {
    font-size: 2rem;
    color: #000;
    text-align: center;
    position: absolute;
    bottom: 20%; /* ビデオエリアの下から20%の位置に表示 */
    width: 100%;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-img {
    width: 500px; 
    height: 500px; 
}

/* 新しいスタイルの追加 */
#song-info-popup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}

#song-info-popup h1, #song-info-popup h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* 以下追加箇所 HN */

#bg_image{
    width:100%;
    max-width: 90vw;
    max-height: 90vh;
    aspect-ratio: 16 / 9;
    position: absolute;
    z-index: -1;
}

#animation-text-area{
    width:100%;
    max-width: 90vw;
    max-height: 90vh;
    aspect-ratio: 16 / 9;
    position: absolute;
    z-index: 10;
}