body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#app_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#video {
    width: 100%;
    max-width: 90vw; /* ウィンドウ幅の90% */
    max-height: 90vh; /* ウィンドウ高さの90% */
/*     background: #222; */
    background-image: url("../../img/bg_img/仮背景.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 9; /* 16:9のアスペクト比 */
    position: relative;
    overflow: hidden;
}

#lyrics {
    font-size: 2rem;
    text-align: center;
    position: absolute;
    bottom: 10%; /* ビデオの下から10%の位置に表示 */
    width: 100%;
    color: #fff;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}
