/* スタイルの状態変化を「my-fade-in」という名前で定義 */
.box {
    /* 変更 */
    transition: opacity 1s, visibility 1s;
      
    opacity: 0;
    visibility: hidden;
  }
  
  .box.is-show {  
    opacity: 1;
    visibility: visible;
  }     
  
  
  /********************/
  .box {
    /* Box Styling */
    width: 1000px;
    height: 500px;
    background: #0094b9;
  }