/* スタイルの状態変化を「my-fade-in」という名前で定義 */
.box {
    /* 「.boxの opacity が状態変化する」という指定 */
    transition-property: opacity; 
    transition-duration: 1s;
    
    /* .boxの初期状態を指定 */
    opacity: 0;
  }
  
  .box.is-show {
    /* .boxの状態変化後を指定 */
    opacity: 1;
  }
  
  
  
  /********************/
  .box {
    /* Box Styling */
    width: 1000px;
    height: 500px;
    background: #0094b9;
  }