/* styles.css */
body {
    margin: 0;
    overflow: hidden;
}

#star-field {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.shape {
    position: absolute;
    transform-origin: center;
    animation: fall 3s linear forwards, sway 3s linear forwards, fadeOut 3s linear forwards, rotate 3s linear forwards;
}

/* 星 */
.star {
    width: 50px;
    height: 50px;
    background-color: var(--shape-color, white);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* ハート */
.heart {
    width: 50px;
    height: 40px;
    background-color: var(--shape-color, red);
    clip-path: polygon(50% 15%, 61% 10%, 75% 0%, 90% 10%, 95% 25%, 90% 40%, 50% 80%, 10% 40%, 5% 25%, 10% 10%, 25% 0%, 39% 10%);
}

/* ダイヤモンド */
.diamond {
    width: 30px;
    height: 30px;
    background-color: var(--shape-color, yellow);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}


@keyframes fall {
    0% { transform: translateY(-100px); opacity: 1; }
    100% { transform: translateY(100vh); }
}

@keyframes sway {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}